<div class="container py-5">
  <div class="row d-flex justify-content-between">
    <div class="col-lg-5 col-md-12 mb-5 mb-lg-0">
      <div id="logo" class="mb-3">
        <a href="/" alt="Accès à la page d'accueil">
          <img src=".\assets\img\logo_1_white.svg" alt="Logo de Journée de chasse">
        </a>
      </div>
      <small>Journée de chasse veut devenir le leader de la vente d'expériences de chasse en France puis en Europe.<br/><br/>Nous permettons aux différents acteurs de la chasse de mettre en ligne des offres d'expériences de chasse que les chasseurs peuvent rechercher, réserver et payer en ligne pour réaliser simplement leurs rêves cynégétiques.</small>
    </div>
    <div class="col-lg-2 col-md-4 offset-lg-1 pl-lg-0 mb-5 mb-md-0">
      <ul class="list-unstyled list-light">
        <li><a href="#">Aide</a></li>
        <li><a href="#">Qui sommes-nous?</a></li>
        <li><a href="#">Comment ça marche?</a></li>
        <li><a href="#">Devenir hôte</a></li>
        <li><a href="#">Assurance</a></li>
        <li><a href="#">Centre de confidentialité</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-4 mb-5 mb-md-0">
      <ul class="list-unstyled list-dark">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Presse</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">CGU et CPU</a></li>
        <li><a href="#">Partenaires</a></li>
        <li><a href="#">Mentions légales</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-4">
      <ul class="list-unstyled list-social-network">
        <li><a href="#" alt="Page Facebook de Journée de chasse" target="_blank">
          <i nz-icon nzType="facebook" nzTheme="outline"></i>Facebook
        </a></li>
        <li><a href="#" alt="Page Instagram de Journée de chasse" target="_blank">
          <i nz-icon nzType="instagram" nzTheme="outline"></i>Instagram
        </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="copyright-container">
  <p class="text-center mb-0">Journée de chasse © 2018 - Reproduit par Thibaut ☺</p>
</div>
