<!-- NG-ZORRO -->
<nz-layout>
  <nz-header class="container-fluid">
    <app-header></app-header>
  </nz-header>
  <nz-content id="main">
    <app-slider></app-slider>
    <div class="container pt-4 pb-5">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-5 col-6">
          <app-details-ad></app-details-ad>
          <app-share-ad></app-share-ad>
        </div>
        <div class="col-lg-5 col-6">
          <app-actions-ad></app-actions-ad>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-5 pb-4 carousel-section">
      <h2 nz-typography><span class="title-light">Nos</span> recommandations</h2>
      <app-carousel></app-carousel>
    </div>
  </nz-content>
  <nz-footer>Footer</nz-footer>
  <app-connexion></app-connexion>
</nz-layout>
