<!-- NG-ZORRO -->
<nz-layout>
  <nz-header class="container-fluid">
    <app-header></app-header>
  </nz-header>
  <nz-content id="main">
    <app-slider></app-slider>
    <div class="container pt-4">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-5 col-6">
          <app-details-ad></app-details-ad>
        </div>
        <div class="col-lg-5 col-6">
          Test
        </div>
      </div>
    </div>

    Content
    <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
      <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
    </a>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
