<!-- NG-ZORRO -->
<nz-layout>
  <nz-header class="container-fluid">
    <app-header></app-header>
  </nz-header>
  <nz-content id="main">
    <app-slider></app-slider>
    <div class="container pt-4 pb-5">
      <div class="row d-flex justify-content-between">
        <div class="col-12 mb-4">
          <app-head-ad></app-head-ad>
        </div>
        <div class="col-lg-5 col-md-6 col-12 mb-5 mb-md-0">
          <app-details-ad></app-details-ad>
          <app-share-ad></app-share-ad>
        </div>
        <div class="col-lg-5 col-md-6 col-12">
          <app-actions-ad></app-actions-ad>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-5 pb-4 carousel-section">
      <h2 nz-typography class="my-5"><span class="title-light">Nos</span> recommandations</h2>
      <app-carousel></app-carousel>
    </div>
  </nz-content>
  <nz-footer class="footer-container bg-dark">
    <app-footer></app-footer>
  </nz-footer>
  <app-connexion></app-connexion>
  <app-inscription></app-inscription>
  <app-menu-mobile></app-menu-mobile>
</nz-layout>
